body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#0077B6, #03045E);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#age {
    text-decoration: underline;
    font-style: italic;
    color: red;
}

#bff-img {
    width: 200px;
    border-radius: 15%;
    border: 3px solid #03045E;
    margin-bottom: 10px;
}

#bday-age {
    background: #57CC99;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #57CC99;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease-in-out, background-color 0.5s ease;
}

#gift-img-kicked:hover {
    transition-duration: 1.2s;
    transform: scale(0.8);
    background-image: url("images/sumo.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
    transition-duration: 1.2s;
    transform: scale(.8);
}

#gift-img-do-it:hover {
    background-image: url("images/do-it.gif");
    transition-duration: 1.2s;
    transform: scale(.8);
}

#gift-img-water-walker:hover {
    background-image: url("images/water-walker.gif");
    transition-duration: 1.2s;
    transform: scale(.8);
}

#gift-img-4th:hover {
    background-image: url("images/4th-of-july.gif");
    transition-duration: 1.2s;
    transform: scale(.8);
}

#gift-img-union:hover {
    background-image: url("images/union.gif");
    transition-duration: 1.2s;
    transform: scale(.8);
}

#gift-img-drunk:hover {
    background-image: url("images/roof.gif");
    transition-duration: 1.2s;
    transform: scale(.8);
}

#gift-img-clumsy:hover {
    background-image: url("images/still-clumsy.gif");
    transition-duration: 1.2s;
    transform: scale(.8);
}

#gift-img-family:hover {
    background-image: url("images/family.gif");
    transition-duration: 1.2s;
    transform: scale(1.8);
}


#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
